* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    left: 0;
    right: 0;
  }
  :root {
    --primary-pink: hsl(322, 100%, 66%);
    --very-Pale-Cyan: #ebfbff;
    --very-Dark-Cyan: rgb(0, 37, 46);
    --grayish-Blue: hsl(208, 11%, 55%);
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 header{
   background: url(../images/bg-hero-desktop.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: var(--very-Pale-Cyan);
 } 
.logo-container{
  width: 100%;
  min-width: 370px;
  padding: 0 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container--img img{
  width: 150px;
}
.logo-container a{
  width: 150px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 30px;
  background: #ffffff;
  color: var(--very-Dark-Cyan);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 4px 6px rgb(0, 37, 46, 0.5);
}
main{
  margin-bottom: 120px;
}
.intro-container{
  position: relative;
  width: 100%;
  min-width: 375px;
  display: flex;
  padding: 0 50px;
  align-items: center;
}
.illustration-mockups-container{
  position: relative;
  margin: 40px auto;
  width: 100%;
  min-width: auto;
  display: flex;
  justify-content: flex-end;
}
.illustration-mockups-container img{
  width: 100%;
}
.intro-container__content{
  width: 90%;
  display: grid;
  place-content: center;
}
.intro-container__content h1{
  margin-bottom: 27px;
  font-family: "Open Sans", sans-serif;
}
.intro-container__content p{
  font-size: 18px;
  white-space: 5px;
  margin-bottom: 30px;
}
.intro-container__content a{
  height: 50px;
  width: 240px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  background: var(--primary-pink);
}
.main-section-container{
  position: relative;
  width: 100%;
  margin: 80px auto;
  background: #ffffff;
}
.article__section{
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: 1px solid rgb(128, 141, 153, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space--section{
  margin-top: 25px;
}
.article__title{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-left: 50px;
}
.article__title h2{
  font-family: "Open Sans", sans-serif;
  color: var(--very-Dark-Cyan);
  margin-bottom: 20px;
}
.article__title p{
  padding-right: 50px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--grayish-Blue);
  font-size: 18px;
}
.article__illustration-container{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.article__illustration-container img{
  padding: 40px;
  width: 100%;
  min-width: 370px;
}
footer{
  position: relative;
  margin-top: 200px;
  background-color: var(--very-Dark-Cyan);
  color: white;
}
.flowing-section-container{
  position: absolute;
  top: -80px;
  margin: 0 auto;
  border-radius: 14px;
  width: 50%;
  height: auto;
  color: black;
  background-color: #fff;
  border: 1px solid rgb(128, 141, 153, 0.1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.flowing-section-container h2{
  margin:20px auto;
  font-family: "Open Sans", sans-serif;
  color: var(--very-Dark-Cyan);
}
.flowing-section-container a{
  position: relative;
  margin: 20px auto;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  background: var(--primary-pink);
}
.footer-container-section{
  height: 50vh;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo{
  margin-bottom: 30px;
}
.footer-img{
  display:flex;
  margin-top: 20px;

}
.footer-img img{
  width: 20px;
  height: 20px;;
}
.footer-container-section .footer-img--location p{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.col{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.col ul li{
  margin-top: 30px;
}
.col ul li a{
  color: var(--grayish-Blue);
}
.social a{
  height: 20px;
  width: 20px;
  color: white;
}
.copyright, .attribution{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.icons{
  margin: 0 5px;
  width: 20px;
  height: 20px;
}