.logo-container{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
.logo-container a{
    width: 130px;
    height: 30px;
}
.intro-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: minmax(370px, 1fr);
    place-content: center;
}
.intro-container__content {
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    margin: 0 auto;
}
.intro-container__content a{
    margin: 0 auto;
}
.article__section{
    display: grid;
    grid-template-columns: minmax(375px, 1fr);
}
.article__illustration-container{
    grid-area: 1 /1 / 2 / 2;
}
.article__title{
    position: relative;
    margin: 40px 0px;
    width: 100%;
    min-width: 375px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }
.article__title h2{
    padding-right: 50px;
}
.article__title p{
    text-align: center;
}
.article__illustration-container{
    width: 100%;
    position: relative;
}
.article__illustration-container img{
    width: 100%;
}
.flowing-section-container{
    width: 90%;
    display: flex;
    top: -120px;
    justify-content: center;
    align-items: center;
}
.flowing-section-container h2{
    font-size: 18px;
    text-align: center;
}
.flowing-section-container a{
    font-size: 18px;
    width: 220px;
}
.footer-container-section{
    height: 100vh;
    display:flex;
    flex-direction:column ;
    margin-top: 100px;
}
.col{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.footer-container-section .space--col{
    margin-top: 30px;
}
.col ul li a{
    color: #fff;
    font-weight: bold;
}
.social{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;
}
.icons{
    height: 45px;
    width: 45px;
}

.copyright{
    position: relative;
    left: -25px;
    width: 100%;
    text-align: left;
    font-size: 15px;
}
.attribution{
    width: 100%;
    position: relative;
    left: 40px;
    display: inline;
    text-align: center;
    font-size: 12px;
}