* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --main-transition: 0.3s;
    --main-padding-top: 50px;
    --main-padding-bottom: 50px;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* start header */
  header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  header .container {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
  }
  header .logo img {
    height: 30px;
  }
  header a {
    font-size: 1rem;
    padding: 10px 4rem;
    background-color: white;
    color: var(--Very-Dark-Cyan);
    border-radius: 2rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  header a:hover {
    color: var(--Grayish-Blue);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  }
  header {
    background-size: cover;
  }
  .landing {
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: contain;
    padding-top: 100px;
    position: relative;
    background-color: var(--Very-Pale-Cyan);
    padding-bottom: var(--main-padding-top);
  }
  .landing .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
  .landing .container .content {
    flex-basis: 50%;
  }
  .landing .container .content h1 {
    color: var(--Very-Dark-Cyan);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.9rem;
  }
  .landing .container .content p {
    color: var(--Very-Dark-Cyan);
    font-weight: 400;
    font-size: 18;
    line-height: 1.6;
  }
  .landing .container .content a {
    background-color: var(--Pink);
    padding: 10px 4rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    font-size: 18;
  }
  .landing .container .content a:hover {
    opacity: 0.7;
  }
  .landing .container .image {
    flex-basis: 50%;
  }
  .landing .container .image img {
    max-width: 100%;
  }
  @media (max-width: 767px) {
    .landing {
      background-image: url(../images/bg-hero-mobile.svg);
    }
    .landing .container {
      flex-direction: column;
    }
    .landing .container .content {
      text-align: center;
    }
  
    .landing .container .content p {
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .landing .container .image {
      margin-top: 2rem;
    }
  }
  
  section {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  section .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  section .container .box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 200px;
    padding: 2rem;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    height: 430px;
  }
  section .container .box .content {
    flex-basis: 50%;
  }
  section .container .box .content h2 {
    color: var(--Very-Dark-Cyan);
    font-family: "Poppins", sans-serif;
  }
  section .container .box .content p {
    font-size: 16px;
    color: var(--Grayish-Blue);
  }
  section .container .box .image {
    flex-basis: 50%;
    padding: 2rem;
  }
  section .container .box .image img {
    width: 100%;
  }
  @media (max-width: 767px) {
    section .container .box {
      flex-direction: column;
      height: fit-content;
    }
    section .container .box .content {
      text-align: center;
    }
  }
  
  footer {
    background-color: var(--Very-Dark-Cyan);
    position: relative;
    padding-top: 120px;
  }
  footer .card {
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: -105px;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    height: 210px;
    min-width: 500px;
  }
  footer .card h2 {
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
  }
  footer .card a {
    background-color: var(--Pink);
    color: white;
    padding: 10px 4rem;
    border-radius: 20px;
    margin: 1rem;
  }
  footer .card a:hover {
    opacity: 0.7;
  }
  footer .image img {
    color: white;
  }
  footer .container {
    display: flex;
    flex-direction: row;
    color: var(--Grayish-Blue);
  }
  footer .container .col {
    flex-basis: 25%;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  footer .container .col li {
    padding-bottom: 20px;
  }
  footer .container .col a {
    color: var(--Grayish-Blue);
  }
  footer .container .col a:hover {
    text-decoration: underline;
  }
  footer .container .col:first-of-type {
    text-align: left;
  }
  footer .container .col:first-of-type li {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  footer .container .col:first-of-type li p {
    margin-top: 0;
  }
  footer .social {
    display: flex;
  }
  footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 1rem;
  }
  footer .social a i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15px;
    height: 15px;
  }
  footer .social a:hover {
    border-color: var(--Pink);
  }
  footer .social a:hover i {
    color: var(--Pink);
  }
  footer .copyright {
    display: flex;
    justify-content: flex-end;
    color: var(--Grayish-Blue);
    font-size: 16px;
  }
  @media (max-width: 767px) {
    footer .container {
      flex-direction: column;
    }
    footer .container .col {
      justify-content: left;
    }
    footer .copyright {
      justify-content: center;
    }
    footer .container .col:last-of-type {
      justify-content: center;
    }
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    color: white;
  }
  .attribution a {
    color: var(--Pink);
  }